 <div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="kwiatuszki" (change)="pokazKwiatki()"> 
  <label class="form-check-label" for="kwiatuszki">Kwiaty</label> 
</div> 
<div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="zwierzatka"> 
  <label class="form-check-label" for="zwierzatka" (change)="pokazZwierzeta()">Zwierzęta</label> 
</div>
<div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="samochodziki"> 
  <label class="form-check-label" for="samochodziki" (change)="pokazSamochody()">Samochody</label> 
</div>

<div *ngFor="let zdjecie of galeriaZdjec" style="float:left; margin: 5px">
    <img [src]="zdjecie.filename">
    <h4>Pobrań: {{zdjecie.downloads}}</h4>
    <button (click)="pobierz(zdjecie)">Pobierz</button>
</div>