<div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="kwiatuszki" [(ngModel)]="pokazKwiaty"> 
  <label class="form-check-label" for="kwiatuszki">Kwiaty</label> 
</div> 
<div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="zwierzatka" [(ngModel)]="pokazZwierzatka"> 
  <label class="form-check-label" for="zwierzatka">Zwierzęta</label> 
</div>
<div class="form-check form-switch"> 
  <input class="form-check-input" type="checkbox" id="samochodziki" [(ngModel)]="pokazSamochody"> 
  <label class="form-check-label" for="samochodziki">Samochody</label> 
</div>

<div *ngFor="let zdjecie of galeriaZdjec" style="float:left; margin: 5px">
  <div *ngIf="(zdjecie.category === 1 && pokazKwiaty) || 
  (zdjecie.category === 2 && pokazZwierzatka) || 
  (zdjecie.category === 3 && pokazSamochody)">
  
  
  <img [src]="zdjecie.filename">
  <h4>Pobrań: {{zdjecie.downloads}}</h4>
  <button (click)="pobierz(zdjecie)">Pobierz</button>
</div>
</div>
